* {
    margin: 0;
    margin-left: 2px;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    
}

body {
    font: 16px 'Roboto', sans-serif;
    color: #121214;
    background: #e0e0e0;
}

::-webkit-scrollbar {
    width:10px;
}

::-webkit-scrollbar-thumb {
    background-color:rgb(172, 172, 172);

    &:hover {
        background-color: #8c8c8c;
    }
}